fastapi==0.114.2
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pillow==10.4.0
pydub==0.25.1
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.35
python-dotenv==1.0.1
pydantic==2.9.2
requests==2.32.3

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

numpy==2.0.1
opencv-python-headless==4.10.0.84
einops==0.8.0
safetensors==0.4.4
mediapipe==0.10.18
moviepy==1.0.3
